.main_header{
    width: 960px;
    margin: 0 auto;    /*가로방향으로 가운데 정렬*/

    height:160px;
    position: relative;

    background-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6,#caffbf,#9bf6ff,#a0c4ff,#bdb2ff,#ffc6ff,#fffffc);

}
/*html,css,java,spring...*/

.head_list{
    display: flex;
    flex-direction: row;
    justify-content: end; /*오른쪽 정ㄹ렬*/


}
/*부모 - 자식으로 접근*/
.head_list > div{
    margin: 5px;
    font-weight: bold;

}


/*askme 버튼*/
.input{
    border-radius: 10px;
}


/*container 안에 list*/
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/*관심사 글자*/
.interesting{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
    margin-left: 270px;



}



.container {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*// 플렉스 컨테이너 내에서 item들의 간격 시작은 왼쪽, 마지막은 오른쪽 정렬*/
    align-items: center; /*//가운데 정렬*/
    width: 200px;
    height: 350px;
    margin: 20px;
}

.rank {
    font-size: 15px;
    font-weight: bold;
}

/*이미지, 이름, 장르*/
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/*이름 */
.name {
    font-size: 17px;
    margin: 10px;
    font-weight: bold;

}



.text {
    margin-right: 10px;


}



.sidebar {
    height: 70%;
    width: 150px;
    position: fixed; /*사이드바 위치 고정*/
    top: 20px;
    left: 0;
    background-color : whitesmoke;
    padding: 20px;

}


/*사이드바 상단 margin 최소화*/
.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none; /*점 없애주기*/
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}


